.meta {
   font-size: small;
}
div.fillbg {
  background-color:#eee;
  text-decoration: none;
  color:#111;
  padding:15px;

}
div.fillbg:hover {
  background-color:#444;
  color:#ddd;
}
div.fillbg:hover .meta{
   color: #ccc;
   font-size: small;
}
div.fillbg span {
   font-style:bold;
}
a.fillbg{
 text-decoration: none;
 padding: 0px;
}

a.fillbg:hover {
  color:#222;
}

strong { font-weight: bold; }

li.error{
	color:#F43;

}
.dark {
   color:#ddd;
   background:#555;
   padding: 5px;
}
.light {
   color:#999;
   background:#eee;
   padding: 5px;
   padding-right: 0px;
   font-weight: normal;
}

.right-section {
   border-left: thin solid #222;
}
.left-section {
   border-right: thin solid #222;
}
.formcontainer span {
   display: inline-block;
}
.log_table td {
      border-color: #444;
      border-width: thin;
      padding: 5px;
}
.log_table tr {
      border-color: #333;
}
