{% extends "index.html" %}
{% block title %}Add Event{% endblock %}

{% block content %}
        <p class="lead">
            Add New Event
         </p>
         {% if isadded %}
         <div><p> Thank you for Adding a new Event !! <a href="/index"> Go Back!</a>
         </p></div>
         {% else %}
         <div class="twelve columns left-section">
         <form method="POST" action="" class="main">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <!-- <div class="formcontainer"> -->
            {{ f.label }}{{ f }}
            {% if f.errors %}
            <ul>
               {% for e in f.errors %}
               <li class="error">{{ e }}</li>
               {% endfor %}
            </ul>
            {% endif %}
            
            {% endfor %}
            <button class="btn" type="submit">Submit</button>
         </form>
       </div>
        {% endif %}
{% endblock %}
