{% extends "index.html" %}
{% block title %}EventPi{% endblock %}

{% block content %}
        <p class="lead">
            Re-generate QR-Code
         </p>
         {% if issent %}
         <div><p> Thank you for using. Keep this one Safe!! <a href="{{url_for('index')}}"> Go Back!</a>
         </p></div>
         {% else %}
         <div class="eight columns left-section">
         <div>Forgot where you kept it.. Just type down your Email..</div><br>
            <form action="" method="POST">
               {{ form.hidden_tag() if form.hidden_tag }}
               {% for f in form if f.type != 'CSRFTokenField' %}
               <div>
               {{ f.label }}
               {{ f }}
               {% if f.errors %}
               <ul>
                  {% for e in f.errors %}
                  <li class="error">{{ e }}</li>
                  {% endfor %}
               </ul>
               {% endif %}
               </div>
               {% endfor %}
               <button class="btn" type="submit">Submit</button>
            </form>
         </div>
         <div class="five columns">
            For Registering <a href="{{ url_for('register') }}">Click here</a>
         </div>
        {% endif %}
{% endblock %}
