{% extends "index.html" %}
{% block title %}EventPi Admin{% endblock %}

{% block content %}
  <p class="lead">
    Users
  </p>
  {% if users_data|length > 0 %}
  <div>
      <!-- List of Events if any -->
    <table class="log_table">
      <div class="thirteen columns"><tr>
       <b><td>UID</td>
       <td>Name</td>
       <td>Email ID</td>
       <td>College/Organization Name</td>
    </tr></div>
    {% for user_m in users_data %}

         <div><tr>
          <td>{{ user_m.user.id }}</td>
          <td>{{ user_m.user.first_name }}</td>
          <td>{{ user_m.user.email }}</a></td>
          <td>{{ user_m.user.college_name }}</td>
       </tr></div>
    {% endfor %}

    </table>
    </div>
  {% else %}
    <p>You don't have any users yet..</p>
    <a href="{{ url_for('adduser',event_id=event_id) }}" target="_parent"><button class="btn">Add new User</button></a>
  {% endif %}
{% endblock %}
